* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #571c24;
    background-color: #fffcfb;
}

html {
    font-size: 62.5%;
}

.logo-image {
    max-width: 20%;
}

.header {
    font-size: 1.2rem;
    padding: 1.8rem 4.8rem 1.8rem 4.8rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3.2rem;
    justify-content: end;
    /* flex: 1 1 auto; */
    justify-content: space-between;
    align-items: center;
    background-color: #fde3de;
}

.main-heading {
    font-size: 4.8rem;
    font-weight: 700;
    padding-left: 1rem;
}

.home-page-link:link,
.home-page-link:visited {
    /* text-decoration: none; */
    /* display: inline; */
    /* justify-self: end; */
    display: inline-block;
    max-width: 80%;
    padding: 1rem;
    background-color: #fffcfb;
    border-radius: 50rem;
    color: #571c24;
    font-size: 1.2rem;
    transition: all 0.3s;
    /* margin-right: 1rem; */
    text-align: center;
    border: none;
    text-decoration: none;
    justify-self: right;
    /* flex: 3 0 20rem; */
    margin-left: 16rem;
}

.home-page-link:hover,
.home-page-link:active {
    /* margin-right: 1rem; */
    /* margin-left: 10rem; */
    /* text-align: right; */
    text-decoration: none;
    padding: 1rem;
    /* background-color: none; */
    /* border: #571c24 solid 2px; */
    box-shadow: 0 0 0 1px #571c24 inset;
    border-radius: 500rem;
    color: #571c24;
    /* font-size: 1.3rem; */
}

.main-body {
    padding: 8.4rem;
    padding-top: 4.8rem;
}

.login-heading {
    /* display: inline-block; */
    /* /* margin: 0 auto; */
    text-align: center;
    font-size: 3.6rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
}

.login-subtext {
    text-align: center;
    font-size: 1.8rem;
}

.login-details {
    text-align: center;
    font-weight: 400;
    padding: 2.4rem;
    font-size: 1.8rem;
    /* display: grid; */
    /* grid-template-rows: 1fr 1fr; */
}

#email {
    /* margin-bottom: 2rem; */
    padding: 0.8rem;
    /* margin-top: 2rem; */
    font-size: 2rem;
    font-family: "Rubik";
    border: none;
    background-color: #fde3de;
    border-radius: 10rem;
    /* margin-left: 2rem; */
}

#password {
    /* margin-left: 2rem; */
    border-radius: 10rem;
    background-color: #fde3de;
    padding: 0.8rem;
    font-family: "Rubik";
    /* margin-bottom: 2rem; */
    font-size: 2rem;
    border: none;
}

.signup-call {
    padding: 3.6rem;
    text-align: center;
    font-size: 1.2rem;
}

.signup-link:link,
.signup-link:visited {
    /* text-decoration: none; */
    color: #571c24;
    transition: all 1s;
}

.signup-link:active,
.signup-link:hover {
    text-decoration: none;
}

.btn {
    padding: 1.2rem 2rem;
    border-radius: 10%;
    font-size: 2rem;
    background-color: #571c24;
    color: #fffcfb;
    border: none;
    margin-top: 2rem;
    font-family: "Rubik";
    cursor: pointer;
    transition: all ease 0.3s;
}

.btn:hover {
    color: #571c24;
    background-color: #fffcfb;
    box-shadow: 0 0 0 1px #571c24 inset;
}

.elements-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    max-width: 40%;
    margin: 0 auto;
    gap: 2rem;
    margin-bottom: 2.4rem;
    margin-top: 4.8rem;
}

.footer {
    padding: 2.4rem;
    margin-top: 4.8rem;
    background-color: #ddd;
}

.logo-footer {
    max-width: 10%;
    display: block;
    margin: 0 auto;
}

.footer-text {
    text-align: center;
    padding-top: 1.2rem;
}