<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="homestyle.css" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Oonchi Dukaan | Home Page</title>
</head>

<body>
    <header class="home-header">
        <div class="header-elements">
            <img src="Unchi.png" alt="Logo image of Oonchi Dukaan" class="header-logo" />
            <nav class="header-categories-nav">
                <a href="#room-set-up" class="category-link">Room Set Up</a>
                <a href="#insects-repellants" class="category-link">Insects Repellents</a>
                <a href="#clothing" class="category-link">Clothing</a>
                <a href="#electronics" class="category-link">Electronics</a>
                <a href="#toiletries" class="category-link">Toiletries</a>
                <a href="#footwear" class="category-link">Footwear</a>
                <a href="#miscellaneous" class="category-link">Miscellaneous</a>
            </nav>
            <nav class="header-links-nav">
                <a href="/login" class="login-link">Login</a>
                <a href="/signup" class="signup-link">SignUp</a>
            </nav>
        </div>
    </header>
    <section class="hero-section">
        <div class="hero-contents">
            <div class="hero-texts">
                <h2 class="hero-heading">
                    When they ask you which shop it is from, tell 'em it's Oonchi Dukaan!
                </h2>
                <p class="hero-subtext">
                    Your college shopping made easier! Buy all your needs with Oonchi Dukaan at an affordable, student friendly price!
                    <aside class="shop-now">
                        <a href="#room-set-up" class="shop-cta">Shop now &dArr;</a></aside>
                </p>
            </div>
            <img src="hero image.png" alt="Image of people shopping and handbags" class="hero-image" />
        </div>
    </section>
    <hr class="horizontal-rule">
    <section class="room-set-up" id="room-set-up">
        <h2 class="section-heading">Room Set Up</h2>
        <div class="products">
            <div class="product">
                <img src="mattress.png" alt="Image of a mattress" class="product-image">
                <p class="product-name">Mattress</p>
                <p class="price">Rs 300</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="pillow.png" alt="Image of a pillow" class="product-image">
                <p class="product-name">Pillow</p>
                <p class="price">Rs 50</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="laptop-desk.png" alt="Image of a desk" class="product-image">
                <p class="product-name">Laptop Desk</p>
                <p class="price">Rs 500</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
        </div>
    </section>
    <hr class="horizontal-rule">
    <section class="insects-repellants room-set-up" id="insects-repellants">
        <h2 class="section-heading">Insects Repellents</h2>
        <div class="products">
            <div class="product">
                <img src="mosquito net.png" alt="Image of a mosquito net" class="product-image">
                <p class="product-name">Mosquito Net</p>
                <p class="price">Rs 80</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="mosquito Repellent.png" alt="Image of a Mosquito Repellent" class="product-image">
                <p class="product-name">Mosquito Repellent</p>
                <p class="price">Rs 40</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="laxmanrekhaa chalk.png" alt="Image of a laxmanrekhaa chalk" class="product-image">
                <p class="product-name">Laxmanrekhaa Chalk</p>
                <p class="price">Rs 15</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
        </div>
    </section>
    <hr class="horizontal-rule">
    <section class="clothing room-set-up" id="clothing">
        <h2 class="section-heading">Clothing</h2>
        <div class="products">
            <div class="product">
                <img src="formal shirt.png" alt="Image of a formal shit" class="product-image">
                <p class="product-name">Formal Shirt</p>
                <p class="price">Rs 300</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="formal pants.png" alt="Image of a formal pant" class="product-image">
                <p class="product-name">Formal Pants</p>
                <p class="price">Rs 450</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="casual tshirt.png" alt="Image of a casual tshirt" class="product-image">
                <p class="product-name">Casual TShirt</p>
                <p class="price">Rs 150</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="jeans.png" alt="Image of jeans" class="product-image">
                <p class="product-name">Jeans</p>
                <p class="price">Rs 500</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="casual shorts.png" alt="Image of casual shorts" class="product-image">
                <p class="product-name">Casual Shorts</p>
                <p class="price">Rs 200</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="kurta.png" alt="Image of a kurta" class="product-image">
                <p class="product-name">Kurta</p>
                <p class="price">Rs 200</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="girls jeans.png" alt="Image of a girls' jeans" class="product-image">
                <p class="product-name">Girls' Jeans</p>
                <p class="price">Rs 600</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="girls top.png" alt="Image of a girls' top" class="product-image">
                <p class="product-name">Girls' Top</p>
                <p class="price">Rs 300</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="jumpsuit.png" alt="Image of a jumpsuit" class="product-image">
                <p class="product-name">Jumpsuit</p>
                <p class="price">Rs 700</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
        </div>
    </section>
    <hr class="horizontal-rule">
    <section class="electronics room-set-up" id="electronics">
        <h2 class="section-heading">Electronics</h2>
        <div class="products">
            <div class="product">
                <img src="iron.png" alt="Image of an iron" class="product-image">
                <p class="product-name">Iron</p>
                <p class="price">Rs 450</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="headsets.png" alt="Image of a headset" class="product-image">
                <p class="product-name">Headsets</p>
                <p class="price">Rs 600</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="power bank.png" alt="Image of a power bank" class="product-image">
                <p class="product-name">Power Bank</p>
                <p class="price">Rs 500</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>

        </div>
    </section>
    <hr class="horizontal-rule">
    <section class="toiletries room-set-up" id="toiletries">
        <h2 class="section-heading">Toiletries</h2>
        <div class="products">
            <div class="product">
                <img src="soap.png" alt="Image of a soap" class="product-image">
                <p class="product-name">Soap</p>
                <p class="price">Rs 10</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="shampoo.png" alt="Image of a shampoo bottle" class="product-image">
                <p class="product-name">Shampoo bottle</p>
                <p class="price">Rs 150</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="toothpaste.png" alt="Image of a toothpaste" class=" product-image ">
                <p class="product-name ">Toothpaste</p>
                <p class="price ">Rs 50</p>
                <div class="links ">

                    <a href="# " class="cart-link ">Add to Cart<ion-icon name="cart-outline " class="cart-icon "></ion-icon></a>
                    <a href="# " class="buy-link ">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="shaving equipment.png" alt="Image of shaving equipment" class=" product-image ">
                <p class="product-name ">Shaving Equipment</p>
                <p class="price ">Rs 200</p>
                <div class="links ">

                    <a href="# " class="cart-link ">Add to Cart<ion-icon name="cart-outline " class="cart-icon "></ion-icon></a>
                    <a href="# " class="buy-link ">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="sanitary pads.png" alt="Image of sanitary pads" class=" product-image ">
                <p class="product-name ">Sanitary Pads</p>
                <p class="price ">Rs 150</p>
                <div class="links ">

                    <a href="# " class="cart-link ">Add to Cart<ion-icon name="cart-outline " class="cart-icon "></ion-icon></a>
                    <a href="# " class="buy-link ">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="handwash.png" alt="Image of handwash" class=" product-image ">
                <p class="product-name ">Handwash</p>
                <p class="price ">Rs 80</p>
                <div class="links ">

                    <a href="# " class="cart-link ">Add to Cart<ion-icon name="cart-outline " class="cart-icon "></ion-icon></a>
                    <a href="# " class="buy-link ">Buy Now!</a>
                </div>
            </div>

        </div>
    </section>
    <hr class="horizontal-rule">
    <section class="footwear room-set-up" id="footwear">
        <h2 class="section-heading">Footwear</h2>
        <div class="products">
            <div class="product">
                <img src="slippers.png" alt="Image of slippers" class="product-image">
                <p class="product-name">Casual Slippers</p>
                <p class="price">Rs 150</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="sports shoes.png" alt="Image of sports shoes" class="product-image">
                <p class="product-name">Sports Shoes</p>
                <p class="price">Rs 550</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="formal shoes.png" alt="Image of formal shoes" class=" product-image ">
                <p class="product-name ">Formal Shoes</p>
                <p class="price ">Rs 600</p>
                <div class="links ">

                    <a href="# " class="cart-link ">Add to Cart<ion-icon name="cart-outline " class="cart-icon "></ion-icon></a>
                    <a href="# " class="buy-link ">Buy Now!</a>
                </div>
            </div>

        </div>
    </section>
    <hr class="horizontal-rule">
    <section class="miscellaneous room-set-up" id="miscellaneous">
        <h2 class="section-heading">Miscellaneous</h2>
        <div class="products">
            <div class="product">
                <img src="nailcutter.png" alt="Image of a nailcutter" class="product-image">
                <p class="product-name">Nailcutter</p>
                <p class="price">Rs 15</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="locks.png" alt="Image of a lock" class="product-image">
                <p class="product-name">Lock</p>
                <p class="price">Rs 50</p>
                <div class="links">

                    <a href="#" class="cart-link">Add to Cart<ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>
                    <a href="#" class="buy-link">Buy Now!</a>
                </div>
            </div>
            <div class="product">
                <img src="ropes.png" alt="Image of ropes" class=" product-image ">
                <p class="product-name ">Ropes</p>
                <p class="price ">Rs 60</p>
                <div class="links ">

                    <a href="# " class="cart-link ">Add to Cart<ion-icon name="cart-outline " class="cart-icon "></ion-icon></a>
                    <a href="# " class="buy-link ">Buy Now!</a>
                </div>
            </div>

        </div>
    </section>
    <footer class="footer">
        <a href="Home index.html"><img src="Unchi.png" alt="Logo of Oonchi Dukaan" class="logo-footer"></a>
        <p class="footer-text">
            Developed by GuruDev &reg;
        </p>
    </footer>
</body>

</html>
