* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik";
    background-color: #fffcfb;
}

html {
    font-size: 62.5%;
}

.header-logo {
    max-width: 20%;
}

.home-header {
    font-size: 1.4rem;
    padding: 1.8rem 4.8rem 1.8rem 4.8rem;
    background-color: #fde3de;
}

.header-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-link,
.login-link,
.signup-link {
    padding: 1rem;
}

.category-link:link,
.category-link:visited {
    text-decoration: none;
    color: #571c24;
    transition: all 0.3s;
}

.category-link:hover,
.category-link:active {
    text-decoration: none;
    color: black;
    box-shadow: 0 0 0 0.5px black inset;
    border-radius: 50rem;
}

.login-link:link,
.login-link:visited {
    text-decoration: none;
    background-color: #571c24;
    padding: 1.2rem 2rem;
    font-size: 1.8rem;
    color: #fde3de;
    border-radius: 50rem;
    transition: all 0.3s;
}

.login-link:hover,
.login-link:active {
    background-color: #fde3de;
    box-shadow: 0 0 0 1px #571c24 inset;
    /* padding: 1.4rem 2.2rem; */
    color: #571c24;
}

.signup-link:link,
.signup-link:visited {
    /* text-decoration: none; */
    color: #571c24;
    font-size: 1.6rem;
    transition: all 0.3s;
}

.signup-link:hover,
.signup-link:active {
    text-decoration: none;
    color: #571c24;
    font-size: 1.6rem;
}

.hero-section {
    padding: 4.8rem 3.6rem;
}

.hero-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.hero-image {
    max-width: 40%;
}

.hero-heading {
    font-size: 4.2rem;
    color: #333;
    padding-bottom: 4.8rem;
}

.hero-subtext {
    font-size: 1.8rem;
}

.shop-now {
    font-size: 2.4rem;
    padding-top: 3.2rem;
    /* color: #571c24; */
}

.shop-cta:link,
.shop-cta:visited {
    text-decoration: none;
    background-color: #571c24;
    color: #fde3de;
    padding: 1.2rem 2.4rem;
    border-radius: 50rem;
    transition: all 0.3s;
}

.shop-cta:hover,
.shop-cta:active {
    text-decoration: none;
    background-color: #fde3de;
    color: #571c24;
    padding: 1.2rem 2.4rem;
    box-shadow: 0 0 0 1px #571c24 inset;
    border-radius: 50rem;
}

.room-set-up {
    padding: 6.4rem;
}

.section-heading {
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 3.2rem;
}

.product-image {
    max-width: 100%;
    /* border-radius: 2rem 2rem 0 0; */
    transition: all 0.3s;
    display: block;
    margin: 0 auto;
}

.products {
    padding: 2.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.8rem;
    /* justify-content: center; */
}

.product-name {
    text-align: center;
    padding-top: 2.4rem;
    font-size: 2.4rem;
    font-weight: 400;
}

.price {
    text-align: center;
    padding-top: 1.2rem;
    font-size: 1.8rem;
}

.links {
    padding-top: 1.2rem;
    padding-bottom: 2.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-icon {
    font-size: 2.4rem;
    padding-left: 0.5rem;
    transform: translateY(0.6rem);
}

.cart-link:link,
.cart-link:visited {
    /* text-decoration: none; */
    font-size: 1.6rem;
    color: #571c24;
    transition: all 0.3s;
}

.cart-link:hover,
.cart-link:active {
    text-decoration: none;
    font-size: 1.6rem;
    color: #571c24;
}

.buy-link:link,
.buy-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    /* color: #571c24; */
    transition: all 0.3s;
    background-color: #571c24;
    color: #fde3de;
    padding: 1.2rem 2.4rem;
    border-radius: 10rem;
}

.buy-link:hover,
.buy-link:active {
    font-size: 1.6rem;
    color: #571c24;
    background-color: #fde3de;
    box-shadow: 0 0 0 1px #571c24 inset;
}

.product {
    box-shadow: -8px 8px 1rem -1px rgba(0, 0, 0, 0.101);
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.3s;
}

.product:hover {
    transform: translateY(-1rem);
}

.horizontal-rule {
    /* padding: 4.8rem; */
    color: #571c242c;
    width: 40%;
    margin: 4.8rem auto;
    /* margin-bottom: 8.4rem; */
}

.footer {
    padding: 2.4rem;
    margin-top: 4.8rem;
    background-color: #ddd;
}

.logo-footer {
    max-width: 10%;
    display: block;
    margin: 0 auto;
}

.footer-text {
    text-align: center;
    padding-top: 1.2rem;
}